# ignore everything
*

# Include directories
!/apps/api
!/apps/jetstream
!/apps/landing
!/custom-typings
!/libs
!/migrations
!/prisma
!/scripts

# Include specific files
!/yarn.lock
!/.eslintrc.json
!/.gitignore
!/babel.config.json
!/Dockerfile
!/formulon.d.ts
!/LICENSE.md
!/next-sitemap.config.js
!/nx.json
!/package.json
!/README.md
!/schema.prisma
!/seed-salesforce-api.ts
!/seed.sh
!/tsconfig.base.json
!/webpack-server.config.js
!/webpack-sw.config.js

# Ignore unnecessary files inside allowed directories
*#
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db

