.editorconfig
.env
.env.example
.env.staging
.git
.github
.nx
.vscode
.workspace.code-workspace
app
apps/landing/.next
dist
logs
node_modules
npm-debug.log
test-results
tmp
yarn-error.log

# System Files
.DS_Store
Thumbs.db

# Generated Docusaurus files
.docusaurus/
.cache-loader/

# Next.js
.next

# Playwright
**/test-results
**/playwright-report
**/playwright/.cache
.nx

# Not required for core jetstream
apps/cron-tasks
apps/docs
apps/jetstream-e2e
*#
*~
.DS_Store
Thumbs.db

