{
  "singleQuote": true,
  "printWidth": 140,
  "[prisma]": {
    "editor.defaultFormatter": "Prisma.prisma"
  },
  "overrides": [
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
