:root {
  --title-bar-height: 40px;
}

body {
  height: calc(100vh - var(--title-bar-height));
  overflow: hidden;
}

.app-container {
  margin-top: unset;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: var(--title-bar-height);
}

.titlebar {
  position: absolute;
  top: env(titlebar-area-y, 0);
  height: var(--title-bar-height);
  width: 100%;
  app-region: drag;
  /* Pre-fix app-region during standardization process */
  -webkit-app-region: drag;
}

.full-height {
  height: 100%;
}

.cta-btn {
  min-width: 151px;
}

.container {
  background-color: #fff;
  border-color: transparent;
  padding: 15px;
  border-radius: 2rem;
}

.splash-container {
  background-color: #fff;
  border-color: transparent;
  padding: 15px;
  border-radius: 2rem;
}

.svg-fill-step {
  fill: #fff;
}
