@import '~@salesforce-ux/design-system/scss/_design-tokens';

.gutter {
  background-color: $color-background;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('assets/images/split-grip-vertical.png');
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url('assets/images/split-grip-horizontal.png');
  cursor: row-resize;
}

.bg-white {
  background-color: $color-background-alt;
}

.width-100 {
  width: 100%;
}

.border-bottom-thick {
  border-bottom: 3px solid #dddbda;
}

.active-item-yellow-bg {
  background-color: $color-background-highlight;
}

.slds-item {
  cursor: pointer;
  &:hover {
    background-color: $color-background;
  }
  &.is-active {
    background-color: $color-background-highlight;
  }
}

.table-row.is-selected {
  background-color: $color-background-highlight;
}

.is-disabled {
  background-color: $color-background-input-disabled;
}

.border-radius-25 {
  border-radius: 0.25rem;
}

/**
 * Apply to a button to make it look like a link
 */
.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;

  color: $brand-text-link;
  text-decoration: none;
  transition: color 0.1s linear;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
    color: $brand-text-link-active;
  }
}
