@import '~@salesforce-ux/design-system/scss/_design-tokens';

.gutter {
  background-color: $color-background;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('assets/images/split-grip-vertical.png');
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url('assets/images/split-grip-horizontal.png');
  cursor: row-resize;
}

.bg-white {
  background-color: $color-background-alt;
}
